Flask~=3.1.2
loguru~=0.7.3
matplotlib~=3.10.0
msgpack~=1.1.2
numpy~=2.2.0
pathvalidate~=3.3.1
pillow~=11.3.0
protobuf~=6.33.1
psutil~=7.0.0
pycryptodomex~=3.23.0
pyinstaller-hooks-contrib~=2025.8
pyinstaller_versionfile~=3.0.1
pyinstaller~=6.16.0
pypresence~=4.3.0
PyQt5~=5.15.11
pystray~=0.19.5
pywin32==310
requests~=2.32.4
selenium~=4.38.0
SteamPathFinder==0.0.5
Werkzeug~=3.1.3