Flask~=3.1.2
loguru~=0.7.3
matplotlib~=3.10.0
msgpack~=1.1.2
numpy~=2.4.3
pathvalidate~=3.3.1
pillow~=12.2.0
protobuf~=7.34.0
psutil~=7.2.2
pycryptodomex~=3.23.0
pyinstaller-hooks-contrib~=2025.8
pyinstaller_versionfile~=3.0.1
pyinstaller~=6.16.0
pypresence~=4.6.1
PyQt5~=5.15.11
pystray~=0.19.5
pywin32==311
requests~=2.32.4
selenium~=4.45.0
SteamPathFinder==0.0.5
Werkzeug~=3.1.3