name: Python application

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Setup virtual environment
      run: |
        python -m venv ./venv/
    - name: Install dependencies
      run: |
        cd ./venv/Scripts/
        ./activate
        cd ../../
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Package
      run: |
        cd ./venv/Scripts/
        ./activate
        cd ../../
        ./build.bat
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        # A file, directory or wildcard pattern that describes what to upload
        # Required.
        path: |
          umalauncher/dist/UmaLauncher.exe
          umalauncher/dist/UmaLauncher-Global.exe
          umalauncher/dist/UmaLauncher-Steam.exe

        # The desired behavior if no files are found using the provided path.
        # Available Options:
        #   warn: Output a warning but do not fail the action
        #   error: Fail the action with an error message
        #   ignore: Do not output any warnings or errors, the action does not fail
        # Optional. Default is 'warn'
        if-no-files-found: error

        # If true, an artifact with a matching name will be deleted before a new one is uploaded.
        # If false, the action will fail if an artifact for the given name already exists.
        # Does not fail if the artifact does not exist.
        # Optional. Default is 'false'
        overwrite: true
